################################################################
# Smarter Environment Variables. These are consumed by
# smarter.common.conf and validated and strongly typed by Pydantic
# for use everywhere in the Smarter platform. Morover, these
# exactly match the settings in the Helm charts used for AWS deployments.
#
# Copy this file to the root of your project as .env and
# fill in the values.
#
# IMPORTANT: DO NOT CHECK IN YOUR .env FILE TO SOURCE CONTROL!!!
# By default, .env is included in .gitignore which will prevent
# you from accidentally committing sensitive information, but
# please ALWAYS DOUBLE-CHECK before committing.
#
# To automatically intialize your .env file with placeholder values,
# run the following command from the root of your project:
#    `make`
#
################################################################

# This is the only required .env value. OpenAI API Key for accessing
# OpenAI's GPT models and other services. If you are a University of British Columbia student
# enrolled in any AI course then you'll find your Api key in Canvas with any Home Assignment
# summary instructions. Your UBC-issued Api key enables a proxy Api service that
# the Smarter platform can natively connect to without needing to expose your personal
# OpenAI Api key.
#
# Valid OpenAI API keys look like:
#   sk-proj-XXXXXXXXXXXXXXXXX-- 100 RANDOM CHARACTERS -- XXXXXXXXXXXXXXXXXXXXXXX
#
# - see https://platform.openai.com/api-keys
OPENAI_API_KEY=SET-ME-PLEASE

# -----------------------------------------------------------------------------
# It should not be necessary to change any of the values below unless you
# are customizing your Smarter platform deployment.
# -----------------------------------------------------------------------------

# DockerHUB official Smarter platform image. This image is regularly updated
# with the latest Smarter platform code and dependencies. You can build your own
# custom image if you wish, but it is not required, and not recommended for
# most users.
SMARTER_DOCKER_IMAGE=lpm0073/smarter:latest

# operating environment. This should be set to 'local' if you're running Docker on your local machine.
ENVIRONMENT=local

# Enable debug mode. This significantly increases logging verbosity
DEBUG_MODE=false
DUMP_DEFAULTS=true

# -----------------------------------------------------------------------------
# The following settings are only required if you wish to enable
# social authentication using OAuth2 providers such as Google, GitHub, and LinkedIn.
# -----------------------------------------------------------------------------

# OAuth2 settings for social authentication
# see: https://python-social-auth.readthedocs.io/en/latest/backends/google.html
# SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=SET-ME-PLEASE
# SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=SET-ME-PLEASE

# see: https://python-social-auth.readthedocs.io/en/latest/backends/github.html
# SOCIAL_AUTH_GITHUB_KEY=SET-ME-PLEASE
# SOCIAL_AUTH_GITHUB_SECRET=SET-ME-PLEASE

# see: https://python-social-auth.readthedocs.io/en/latest/backends/linkedin
# SOCIAL_AUTH_LINKEDIN_OAUTH2_KEY=SET-ME-PLEASE
# SOCIAL_AUTH_LINKEDIN_OAUTH2_SECRET=SET-ME-PLEASE

# -----------------------------------------------------------------------------
# The following settings are only required if you are deploying
# the Smarter platform resources such as ChatBot Api hosts to AWS. The Smarter
# platform automatically detects the presence of these settings and will behave
# accordingly. If these settings are not present, the Smarter platform
# will run in local development mode only.
#
# IMPORTANT: These settings MUST be set to secure values before deploying
# to a public cloud environment such as AWS. Moreover, the Smarter platform
# uses advanced AWS resources that require extensive knowledge of AWS services
# to properly configure and manage. It is strongly recommended that you
# only provide these settings if you are familiar with AWS and
# the associated expected costs. DO NOT proceed with deploying the Smarter platform
# to AWS unless you are fully aware of the costs and implications, and
# have thoroughly read the Smarter documentation in both
# https://github.com/smarter-sh/smarter-infrastructure and
# https://github.com/smarter-sh/smarter.
#
#
# AWS settings. The key-pair needs sufficient permissions to manage
# all resources created by https://github.com/smarter-sh/smarter-infrastructure
# -----------------------------------------------------------------------------
# AWS_REGION=us-east-2
# AWS_ACCOUNT_ID=SET-ME-PLEASE
# AWS_ACCESS_KEY_ID=SET-ME-PLEASE
# AWS_SECRET_ACCESS_KEY=SET-ME-PLEASE

# -----------------------------------------------------------------------------
# Optional settings for enabling SMTP email support from within the Smarter platform
# for notications, password resets, and other email features.
# -----------------------------------------------------------------------------
# SMTP_SENDER=SET-ME-PLEASE
# SMTP_PASSWORD=SET-ME-PLEASE
# SMTP_USERNAME=SET-ME-PLEASE
# SMTP_FROM_EMAIL=no-reply@SET-ME-PLEASE

# Enable detailed settings output to the console during startup and management commands.
# SMARTER_SETTINGS_OUTPUT=true

# Django file storage backend. This is typically set to S3Boto3Storage for AWS deployments.
# For local development and testing, we use the FileSystemStorage backend.
DJANGO_DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage

# the name of a remote MySql database for the example SqlConnection and SqlPlugin resources.
# The following settings values are known to work. Change these at your own risk.
SMARTER_MYSQL_TEST_DATABASE_SECRET_NAME=smarter_test_db
SMARTER_MYSQL_TEST_DATABASE_PASSWORD=smarter_test_user

# The base domain for the Smarter platform.
# This should be a domain that you own and have
# configured in your DNS provider to point to your
# AWS resources via Route 53 using https://github.com/smarter-sh/smarter-infrastructure
#
# Note 1: this value is also used for the Prompt Engineer Workbench initialization. If you
# change this value after initial setup, you will need to re-run the Prompt Engineer
# Workbench setup process. See https://github.com/smarter-sh/smarter-chat and
# https://github.com/smarter-sh/web-integration-example for technical details
# about how ReactJS integration works in Smarter.
#
# Note 2: This value is otherwise benign unless you have configured an AWS keypair
# in this .env. If you change this value then be aware that the domain must be
# configured in Route 53 and the https://github.com/smarter-sh/smarter-infrastructure repository must be used
# to create the necessary AWS resources. Moreoever, the AWS keypair used
# must have sufficient permissions to create and manage resources in
# Route 53, Certificate Manager, Elastic Load Balancing, ECS, RDS, S3, IAM, CloudWatch,
# and other services used by the Smarter platform.
ROOT_DOMAIN=smarter.sh

# -----------------------------------------------------------------------------
# The following credentials are optional, but are required to enable
# certain features of the Smarter platform; namely, the Google Maps
# integration used in the "GetWeather() LLM function" as well as the
# GoogleAI Generative AI LLM provider.
#
# Google Service Account for accessing Google Cloud resources
# See https://console.cloud.google.com/projectselector2/iam-admin/serviceaccounts?supportedpurview=project
# -----------------------------------------------------------------------------
GOOGLE_SERVICE_ACCOUNT_B64=SET-ME-PLEASE
GOOGLE_MAPS_API_KEY=SET-ME-PLEASE

# -----------------------------------------------------------------------------
# The following are optional additional Api keys for
# integrating with other Generative AI providers.
# -----------------------------------------------------------------------------

# Generative AI text completion Api Keys
# - https://aistudio.google.com/app/apikey
# GEMINI_API_KEY=SET-ME-PLEASE

# - https://docs.anthropic.com/en/api/getting-started
# ANTHROPIC_API_KEY=SET-ME-PLEASE

# - https://dashboard.cohere.com/api-keys
# COHERE_API_KEY=SET-ME-PLEASE

# - https://fireworks.ai/api-keys/
# FIREWORKS_API_KEY=SET-ME-PLEASE

# - https://console.mistral.ai/api-keys/
# MISTRAL_API_KEY=SET-ME-PLEASE

# - https://api.together.ai/settings/api-keys
# ----------------------------------------------------------
# TOGETHERAI_API_KEY=SET-ME-PLEASE

# LLAMA_API_KEY=SET-ME-PLEASE

# Optional Pinecone settings for vector database support
# see: https://docs.pinecone.io/docs/quickstart
# PINECONE_API_KEY=SET-ME-PLEASE
# PINECONE_ENVIRONMENT=gcp-starter


# -----------------------------------------------------------------------------
# The following secret keys are benign when running the Smarter platform
# locally. However, they MUST be changed to secure, random values
# when deploying the Smarter platform to a public cloud environment
# such as AWS.
# -----------------------------------------------------------------------------

# Django secret key.
# python -c 'from django.core.management.utils import get_random_secret_key# print(get_random_secret_key())'
SECRET_KEY="3v!$k@1z#8^&*0w4!9b2@7!x$5%q1^&*0w4!9b2@7!x$5%q1^&*0w4!9b2@7!x"

# Fernet encryption key. for encrypting credentials in Pydantic Secrets models.
# Do not modify this value unless you know what you're doing.
FERNET_ENCRYPTION_KEY="pVoqultGK2owVMRN6oZ6fiUv7-IZnS3FLvEj7Zc-Xao="

# -----------------------------------------------------------------------------
# The following settings are only required for development and testing purposes.
# It is extremely unlikely that you would ever need to change these values unless you
# are customizing your Smarter platform deployment or are planning to contribute
# to the Smarter platform codebase.
# -----------------------------------------------------------------------------

# -----------------------------------
# FOR TESTING HELM CHARTS
# Kubernetes secrets - smarter-platform-alpha
# -----------------------------------
# NAMESPACE=smarter-platform-alpha
# MYSQL_HOST=SET-ME-PLEASE
# MYSQL_PORT=3306
# SMARTER_MYSQL_DATABASE=SET-ME-PLEASE
# SMARTER_MYSQL_PASSWORD=SET-ME-PLEASE
# SMARTER_MYSQL_USERNAME=SET-ME-PLEASE
# MYSQL_ROOT_USERNAME=SET-ME-PLEASE
# MYSQL_ROOT_PASSWORD=SET-ME-PLEASE
# SMARTER_LOGIN_URL=https://alpha.platform.smarter.sh/login/
# SMARTER_ADMIN_PASSWORD=SET-ME-PLEASE
# SMARTER_ADMIN_USERNAME=admin



# GitHub Personal Access Token
# see: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
# PAT=SET-ME-PLEASE

# the name a MySql database for running unit tests.
# SMARTER_MYSQL_TEST_DATABASE_SECRET_NAME=smarter_test_db
# SMARTER_MYSQL_TEST_DATABASE_PASSWORD=SET-ME-PLEASE

# Optional Mailchimp settings for newsletter signups. We used this for
# an early preview of the Smarter platform in 2023. It is not currently
# used in the platform, but you can enable it if you want to collect
# newsletter signups.
# MAILCHIMP_API_KEY=SET-ME-PLEASE
# MAILCHIMP_LIST_ID=SET-ME-PLEASE

